.hero-grid {
  display: grid;
  align-items: top;
  grid-template-columns: 600px 1fr;
  margin-bottom: 300px;
}

.left-grid {
  display: grid;
  grid-template-columns: 600px;
  margin-top: 150px;
  margin-left: -75px;
}

.right-grid {
  height: 600px;
  margin-top: 50px;
  margin-right: -75px;
}

.title-image {
  width: 700px;
}

.heart-image {
  width: 700px;
}

.heart-image-button {
  width: 0;
}

.bottomleft-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.hero-button {
  width: 400px;
  height: 100px;
  font-size: 50px;
  font-weight: bold;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffbeb0;
  color: rgb(0, 0, 0);
  border: 1px black thick;
  box-shadow: 3px 3px 3px gray;
  border-radius: 20px;
  margin-left: 150px;
  transition: all 0.3s;
}

.hero-button:hover {
  opacity: 85%;
  transform: scale(1.05);
  box-shadow: 5px 5px 5px gray;
}

.email-icon {
  height: 50px;
}

/* --------------- */

.hero-services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 50px;
  align-items: space-between;
}

.hero-services-grid div {
  height: 400px;
  background-color: #ffbeb0;
  border: solid 3px rgb(105, 99, 99);
  border-radius: 3px;
  box-shadow: 3px 5px 10px black;
}

.hero-services-title-container {
  font-size: 24px;
  display: flex;
  height: 100px;
  align-items: top;
  justify-content: center;
}

.hero-services-title-container p {
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .hero-services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
  }

  .hero-grid {
    display: grid;
    align-items: top;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 150px;
  }

  .heart-image {
    width: 0;
  }

  .heart-image-button {
    width: 125px;
    margin-left: 20px;
  }

  .hero-button {
    margin-left: 70px;
  }

  .left-grid,
  .right-grid {
    margin-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .hero-services-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    row-gap: 50px;
    align-items: space-between;
  }

  .hero-grid {
    margin-top: 0px;
    margin-left: 0px;
  }
}
